<li>
	<label for="user_identity_url">Identity Url</label>
	<%= f.text_field :identity_url, :class => 'openid' %>
	<span class="hint">Use OpenID with this account.</span>
</li>

<li>
	<label for="user_display_name">Display Name</label>
	<%= f.text_field :display_name %>
	<span class="hint">The name other users will see.</span>
</li>
