<% title "Your Garage Online &raquo; About Your Garage Online" %>

<div id="content">
	<div id="information">
		<h1>About Your Garage Online</h1>
		
		<p>Remember the last time you were driving down the road, and your transmission started making a clanking sound, or the air conditioner stopped blowing cold air?  Was your next thought, "Didn't I just get that repaired?"</p>
		
		<p>Answering that question, at least for me, used to involve searching through a large file folder of thin, yellow, carbon copy paper slips from various repair shops; or worse, trying to find a receipt from the auto parts store for some random component I had installed myself in my driveway.  Sometimes the slips were in chronological order, sometimes not.  <em>There had to be a better way.</em></p>

		<p class="left"><%= image_tag("cars_home_floor.jpg", :alt => "Cars", :size => '161x242') %></p>
		
		<p>Thanks to <span class="white">Your Garage Online</span>, that better way is here!</p>
		
		<ul class="about">
			<li><span class="important">Virtual garage</span> to store your cars, including year, color, make, model, license and vehicle identification number data.</li>
			<li><span class="important">Searchable repair forms</span> to look up any repair or maintenance record, regardless of when or where it was performed.</li>
			<li><span class="important">Comprehensive service history</span> outlines work done by professional shops or in your own back yard.</li>
		</ul>
		
		<p><span class="white">Your Garage Online</span> is provided as a service by <%= link_to 'Alloy Code', 'http://www.alloycode.com' %>, a North Carolina web development company, and was designed and developed by Jared Haworth.</p>
		
		<p class="message"><strong class="white">A message from Jared &mdash; </strong> I'd like to extend a heartfelt thanks to everyone who provided advice and guidance while I was developing <span class="white">Your Garage Online</span>, particularly those friends who allowed me to bounce ideas off them to help bring the site to life.</p>
				
	</div>
</div>