<% title "Your Garage Online &raquo; Terms of Service" %>
<div id="content">
	<div id="information">
		<h1>
			<span class="right">Effective July 6th, 2007</span>
			Terms of Service
		</h1>
		<p>
			By participating in any interaction on the Your Garage Online website, you are warranting that your designs, written contributions and informational materials (photographic, text or otherwise) do not infringe the intellectual property rights of third parties.
		</p>

		<p>
			Your Garage Online provides the information on this website without warranty of any kind, either express or implied. Neither Your Garage Online nor any person represented here can accept responsibility or liability (express or implied, contractual, tortious or otherwise) for the accuracy, correctness or timeliness of any information displayed on this website.
		</p>

		<p>
			Finally, please respect fellow Your Garage Online users and administrators by refraining from the following:
		</p>

		<ul>
			<li>Impersonating any person or entity or misrepresenting your identity or affiliation with any person or entity;</li>
			<li>Engaging in antisocial, disruptive, or destructive acts, including "flaming," "spamming," "flooding," "trolling," and "griefing" as those terms are commonly understood and used on the Internet;</li>
			<li>Posting, distributing, or otherwise making available or transmitting any data, text, message, image, or computer file that the average prudent person would deem to be: (a) defamatory, abusive, harassing, insulting, threatening, or that could be deemed to be stalking; (b) bigoted, hateful, or racially offensive; (c) vulgar, obscene, or sexually explicit (language or images); or that (d) encourages or advocates illegal activity or the discussion of illegal activities with the intent to commit them.</li>
		</ul>

		<p>
			If you have any questions about the above terms, or to report violations of the above, please <%= mail_to "webmaster@yourgarageonline.com", "contact the administrator" %>
		</p>		
	</div>
</div>